<%= form_for @composition, html: { class: "form-horizontal" } do |f| %>
  <% if @composition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@composition.errors.count, "error") %> prohibited this composition from being saved:</h2>

      <ul>
      <% @composition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Номер', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :number, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Название', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Автор', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :author, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Описание', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_area :description, class: 'form-control', rows: '7' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
