<h2 class="page-header"><%= @composition.name %></h2>

<dl class="dl-horizontal">
  <dt>Номер:</dt>
  <dd><%= @composition.number %></dd>

  <dt>Автор:</dt>
  <dd><%= @composition.author %></dd>

  <dt>Описание:</dt>
  <dd><%= @composition.description %></dd>

<% unless @composition.herbs.empty? %>
  <dt>Состав:</dt>
  <dd>
  <table class="table table-striped">
    <head>
      <tr><th>Название</th><th>Объём</th></tr>
    </head>
    <tbody>
    <% @composition.herbs_compositions.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.herb.name, ingredient.herb %></td>
        <td><%= ingredient.part %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </dd>
<% end %>
</dl>

<%= link_to 'Add/Edit Parts', add_part_path(@composition) %> |
<%= link_to 'Edit', edit_composition_path(@composition) %> |
<%= link_to 'Back', compositions_path %>
