
<h1>Список воздействий</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Воздействие</th>
      <th>Описание</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @effects.each do |effect| %>
      <tr>
        <td><%= effect.name %></td>
        <td><%= effect.description %></td>
        <td><%= link_to '', effect, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_effect_path(effect), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', effect, method: :delete, class: 'fa fa-trash-o', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Effect', new_effect_path %>
