<p id="notice"><%= notice %></p>

<h1>Listing Hierarchies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hierarchies.each do |hierarchy| %>
      <tr>
        <td><%= hierarchy.name %></td>
        <td><%= link_to 'Show', hierarchy %></td>
        <td><%= link_to 'Edit', edit_hierarchy_path(hierarchy) %></td>
        <td><%= link_to 'Destroy', hierarchy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hierarchy', new_hierarchy_path %>
