<%= form_for @classification, html: { class: "form-horizontal" } do |f| %>

  <%= render 'common/errors', object: @classification %>

  <div class="form-group">
    <%= f.label 'Имя', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Описание', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_area :description, class: 'form-control', rows: '7' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Уровень иерархии', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.collection_select :hierarchy_id, Hierarchy.all, :id, :name, {}, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Родительский класс', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.collection_select :classification_id, Classification.all, :id, :name, {}, { class: 'form-control' } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
