
<h1>Listing Classifications</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
      <% Hierarchy.all.each do |hierarchy| %>
	    <th><%= hierarchy.name %></th>
	  <% end %>
      <th colspan="4"></th>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @root_class.classifications.each do |level_1_class| %>
      <tr>
        <td><%= level_1_class.name %></td>
		<td>&nbsp;</td><td>&nbsp;</td>
        <td><%= level_1_class.description %></td>
        <td><%= link_to '', level_1_class, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_classification_path(level_1_class), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', level_1_class, method: :delete, class: 'fa fa-trash-o', data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% level_1_class.classifications.each do |level_2_class| %>
        <tr>
		  <td>&nbsp;</td>
          <td><%= level_2_class.name %></td>
		  <td>&nbsp;</td>
          <td><%= level_2_class.description %></td>
          <td><%= link_to '', level_2_class, class: 'fa fa-eye' %></td>
          <td><%= link_to '', edit_classification_path(level_2_class), class: 'fa fa-pencil' %></td>
          <td><%= link_to '', level_2_class, method: :delete, class: 'fa fa-trash-o', data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% level_2_class.classifications.each do |level_3_class| %>
          <tr>
		    <td>&nbsp;</td><td>&nbsp;</td>
            <td><%= level_3_class.name %></td>
            <td><%= level_3_class.description %></td>
            <td><%= link_to '', level_3_class, class: 'fa fa-eye' %></td>
            <td><%= link_to '', edit_classification_path(level_3_class), class: 'fa fa-pencil' %></td>
            <td><%= link_to '', level_3_class, method: :delete, class: 'fa fa-trash-o', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classification', new_classification_path %>
