
<p>
  <strong>Имя:</strong>
  <%= @classification.name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @classification.description %>
</p>

<p>
  <strong>Уровень иерархии:</strong>
  <%= link_to @classification.hierarchy.name, @classification.hierarchy %>
</p>

<p>
  <strong>Суперкласс:</strong>
  <%= @classification.classification.name %>
</p>

<p>
  <strong>Подклассы:</strong>
</p>

<ul>
<% @classification.classifications.each do |klass| %>
  <li><%= link_to klass.name, klass %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
