<h2 class="page-header"><%= @classification.name %></h2>

<dl class="dl-horizontal">
  <dt>Описание:</dt>
  <dd><%= @classification.description %></dd>

  <dt>Уровень иерархии:</dt>
  <dd><%= link_to @classification.hierarchy.name, @classification.hierarchy %></dd>

  <dt>Суперкласс:</dt>
  <dd><%= @classification.classification.name %></dd>

  <dt>Подклассы:</dt>

  <dd>
  <ul>
  <% @classification.classifications.each do |klass| %>
    <li><%= link_to klass.name, klass %></li>
  <% end %>
  </ul>
  </dd>
</dl>

<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
