<%= link_to 'New Herb', new_herb_path %>

<h1>Список трав</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th>Латинское название</th>
      <th>Народное название</th>
      <th>Описание</th>
      <th>Произростание</th>
      <th>Активность</th>
      <th>Классификация</th>
      <th>Воздействие</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @herbs.each do |herb| %>
      <tr>
        <td><%= herb.name %></td>
        <td><%= herb.latin_name %></td>
        <td><%= herb.popular_name %></td>
        <td><%= herb.description %></td>
        <td><%= herb.location %></td>
        <td><%= herb.activity.level %></td>
        <td><%= herb.classifications.map { |item| item.name }.join(', ') %></td>
		<td><%= herb.effects.map { |item| item.name }.join(', ') %></td>
        <td><%= link_to '', herb, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_herb_path(herb), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', herb, method: :delete, class: 'fa fa-trash-o', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Herb', new_herb_path %>
