
<p>
  <strong>Name:</strong>
  <%= @herb.name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @herb.latin_name %>
</p>

<p>
  <strong>Popular name:</strong>
  <%= @herb.popular_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @herb.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @herb.location %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @herb.activity.level %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @herb.classifications.map { |item| item.name } %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @herb.effects.map { |item| item.name } %>
</p>

<%= link_to 'Edit', edit_herb_path(@herb) %> |
<%= link_to 'Back', herbs_path %>
