
<p>
  <strong>Название:</strong>
  <%= @herb.name %>
</p>

<p>
  <strong>Латинское название:</strong>
  <%= @herb.latin_name %>
</p>

<p>
  <strong>Народное название:</strong>
  <%= @herb.popular_name %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @herb.description %>
</p>

<p>
  <strong>Произростание:</strong>
  <%= @herb.location %>
</p>

<p>
  <strong>Активность:</strong>
  <%= @herb.activity.level %>
</p>

<p>
  <strong>Классификация:</strong>
  <%= @herb.classifications.map { |item| item.name }.join(', ') %>
</p>

<p>
  <strong>Воздействие:</strong>
  <%= @herb.effects.map { |item| item.name }.join(', ') %>
</p>

<%= link_to 'Edit', edit_herb_path(@herb) %> |
<%= link_to 'Back', herbs_path %>
