<!DOCTYPE html>
<html>
<head>
  <title>Phyto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Сбор', compositions_path %>
<%= link_to 'Травы', herbs_path %>
<%= link_to 'Классификация', classifications_path %>
<%= link_to 'Воздействие', effects_path %>
<%= link_to 'Активность', activities_path %>
<%= link_to 'Иерархия классов', hierarchies_path %>

<%= yield %>

</body>
</html>
